<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Page</title>
    <link rel="stylesheet" href="../css/homepage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../Script/home-signin.js"></script>
    <link rel="stylesheet" href="../css/home-signin.css">
    <script ></script>
    <script>
        function register_user()
        {
            console.log("register_user clicked successfully")
            window.location.href="/register"
        }

        function login_user()
        {
            console.log("login_user clicked successfully")
            window.location.href="/register"
        }
    </script>
</head>
<body>
    <div class="row row_header">
        <div class="col-xs-1">
            <a href="/home-signin">
            <img src="https://t4.ftcdn.net/jpg/03/82/76/31/360_F_382763140_M7YORMuLlKz51zfhuYx6e6NgPINaqY12.jpg" class="logo">
            </a>
        </div>
        <div class="col-xs-8">
            <nav>
                <ul>
                    <li>
                        <a  href="/nutrition">SEARCH FOOD</a>
                        <a href="/fitness">CALCULATE FITNESS</a>
                        <a href="/calorie">TRACK CALORIES</a>
                        <a href="/workout">WORKOUT</a>
                        <a href="/recipe">RECIPES</a>
                        <a href="/account-info" >ACCOUNT INFO</a>
                        <a href="/review">REVIEWS</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-xs-3">
            <div class="row">
                <p id="p_logout">
                    &nbsp;&nbsp;
                    <span class="glyphicon glyphicon-user"></span></p> 
                &nbsp;&nbsp;
                <button class="btn btn-danger" id="logout_button"onclick="LogoutUser()">Logout</button>
            </div>
        
         
         
        </div>
    </div>

    <div class="row row_main_content">
        <div class="conatiner">
            <div class="col-xs-6">
                <h1 class="home_page_heading">
                    Earn the Greatest Wealth of your life through Calorie Fix</h1>
            </div>
            <div class="col-xs-6">
                
               <img src="https://static.wixstatic.com/media/9c4080_bb8ff55e15bb4619afaf366a8e028724~mv2.jpg/v1/fill/w_580,h_500,al_c,q_90/9c4080_bb8ff55e15bb4619afaf366a8e028724~mv2.jpg" alt=""
                class="home_page_image">
            </div>
        </div>
    </div>

    <div class="row row_main_content">
        <div class="conatainer">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <h1 class="about_heading">
                    About Calorie Fix
                </h1>
                <br>
                <p class="about_p">Calorie Fix is a digital health and wellness platform that provides services such as 
                    Calorie Tracking ,Diet plans,Food Calorimetry and workout aid.
                    It provides its users with such utilities that it keeps them engaged and motivated
                    in living a healthy lifestyle
                </p>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>

    <div class="row  row_header">
        <div class="container footer-container">
            <div class="col-xs-4">
                <span>
                    <img src="https://t4.ftcdn.net/jpg/03/82/76/31/360_F_382763140_M7YORMuLlKz51zfhuYx6e6NgPINaqY12.jpg" class="logo">
                    <p class="headquarters">2130 St. Henry  Montreal Quebec</p>
                </span>
            </div>
            <div class="col-xs-8">
                <span>
                    <p class="copyright_footer">CalorieFix Health Platform Ⓒ </p>
                </span>

            </div>
        </div>
    </div>
    
</body>
</html>