<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>

    </script>
     <style>
         a{
             text-decoration:none;
             color:brown;
         }
        a:hover{
            text-decoration:none;
            color:black;
        }
        body{
            font-family:"Roboto",serif;
        }

    </style>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
      <link rel="stylesheet" href="../css/homepage.css">
</head>
<body>
    <div class="row">
        <div class="container">
            <div class="navbar">
                <img src="https://t4.ftcdn.net/jpg/03/82/76/31/360_F_382763140_M7YORMuLlKz51zfhuYx6e6NgPINaqY12.jpg" class="logo">
                <nav>
                   <ul>
                       <li>
                           <a href="/adminuinfo">USERINFO</a>
                       </li>
                       <li>
                           <a href="/add-workout">WORKOUTS</a>
                       </li>
                       <li>
                           <a href="/edit-recipe">RECIPES</a>
                       </li>
                       <li>
                           <a href="/admin-review">REVIEWS</a>
                       </li>
                   </ul>
                </nav>
    
                <div class="home_button_nav_panel">
                    <button class="btn btn-danger">Logout</button>
                </div>
    
                
    
            </div>
        </div>
    </div>

</body>
</html>